# Operations

There are lots of operations with pandas that will be really useful to you.

In [1]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

### Info on Unique Values

In [2]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

In [3]:
df['col2'].nunique()

3

In [4]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [5]:
df[['col1', 'col2']].mean() # for two columns

col1      2.50
col2    527.25
dtype: float64

In [6]:
df['col3'].mean() # col3 is categorical data , data is int he frorm of string and we cant find mean

TypeError: Could not convert abcdefghixyz to numeric

In [7]:
df['col1'].median()

2.5

In [8]:
df['col2'].sum()

2109

### Selecting Data

In [9]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>1) & (df['col2']==555)]

In [10]:
newdf

   col1  col2 col3
1     2   555  def

In [61]:
df['col1'].sum()

10

** Permanently Removing a Column**

In [62]:
del df['col1']

In [63]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

** Get column and index names: **

In [64]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [65]:
df.index

RangeIndex(start=0, stop=4, step=1)

** Sorting and Ordering a DataFrame:**

In [66]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [28]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

** Find Null Values or Check for Null Values**

In [68]:
df.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [69]:
# Drop rows with NaN Values
df.dropna()

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

** Filling in NaN values with something else: **

In [71]:
import numpy as np

In [72]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [75]:
df.fillna('FILL')

   col1  col2 col3
0     1  FILL  abc
1     2   555  def
2     3   666  ghi
3  FILL   444  xyz